# FlatCMS Home Server Edition sample configuration

FLATCMS_PROFILE=mini-pc
FLATCMS_SERVER_NAME=flatcms-home
FLATCMS_TIMEZONE=Europe/Paris
FLATCMS_LOCALE=fr_FR.UTF-8

FLATCMS_DOMAIN=example.com
FLATCMS_ACCESS_MODE=local_only
FLATCMS_CLOUDFLARE_TUNNEL_TOKEN=

FLATCMS_INSTALL_AAPANEL=1
FLATCMS_INSTALL_AAPANEL_STACK=1
FLATCMS_NGINX_VERSION=1.24
FLATCMS_PHP_VERSION=8.5
FLATCMS_REQUIRE_PHP_FILEINFO=1
FLATCMS_PURE_FTPD_VERSION=1.0
FLATCMS_INSTALL_PURE_FTPD=0
FLATCMS_INSTALL_DATABASE=0
FLATCMS_INSTALL_PHPMYADMIN=0
FLATCMS_INSTALL_DNS_SERVER=0
FLATCMS_INSTALL_MAIL_SERVER=0
FLATCMS_INSTALL_REDIS=1
FLATCMS_INSTALL_FLATCMS=1
FLATCMS_PACKAGE_ZIP=/root/flatcms.zip
FLATCMS_REQUIRE_AAPANEL_STACK=1
FLATCMS_CREATE_AAPANEL_SITE=1
FLATCMS_SITE_NAME=
FLATCMS_WEB_USER=www
FLATCMS_WEB_GROUP=www
FLATCMS_PHP_FASTCGI_PASS=unix:/tmp/php-cgi-85.sock

FLATCMS_WEB_ROOT=/www/wwwroot/default
FLATCMS_PUBLIC_ROOT=/www/wwwroot/default/public
FLATCMS_REPORT_PATH=/var/log/flatcms-home-server/report.env
